
html,body
{
	font-family: Montserrat, sans-serif;
}
html, body, .container, .container-table, .landing, .projects, .resume, .contact 
{
	height: 100%;
	width:100%;
}
.footer .container
{
	height: 50px;
}
.container
{
	border: 1px solid black;
	
}

.container-table
{
	display: table;
}

.vertical-center-row
{
	display: table-cell;
	vertical-align: middle;
}

.nav {
	width:100%;
}
.landing
{
	
}

.landing h1, .landing h2
{
	padding: 0px;
	margin-right: 50px;
}

.landing h1
{
	
	font-size: 80px;
}
.landing h2
{
	font-size: 50px;
}
form textarea 
{
	width:100%;
	margin:10px;
	font-size: 26px;
}
button.btn {
	border: none;
	color: #00f28f;
	cursor: pointer;
	font-size: 36px;
	padding:20px 24px;
	margin: 10px;
	transition: background 2s, color 2s;
}